head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Home of the osu!droid Elaina PP Project site.')
    title PP Board - Home
    link(rel='stylesheet' href='../styles/main.css')
    link(rel='icon' href='../icons/icon.png' type='image/x-icon')

body
    .top-banner
        h1 Elaina PP Project
        p A basic PP project for osu!droid.
    hr

    .main-menu
        a.menu-active(href='/') Home
        a(href='/leaderboard') Leaderboard
        a(href='/whitelist') Whitelist
        a(href='/top-plays') Top Plays
        a(href='/calculate') Calculate Beatmap PP
        a(href='/prototype') Prototype
        a(href='/prototype/top-plays') Prototype Top Plays
        a(href='/prototype/calculate') Calculate Beatmap Prototype PP
    hr

    .description
        h3 About
        p This is one of my fun project for our small osu!droid Discord community. If you like it consider to support this poor college student uwu
        hr

        h3 Relevant Links
        ul
            li
                a(href='https://paypal.me/NguyenNgocDang') Donation Here (PayPal only)
            li
                a(href='https://discord.gg/nyD92cE') osu!droid Discord Server
        p You can PM me through Discord (-Nero Yuki-#1174) if you want to donate with different mean
        hr

        h3 Benefits
        ul
            li Actually, there is none lol, but it helps me, and I will put a list of donor here I guess XD
            li I don't know lol
        hr

        h3 Donor List
        ul
            li Tsukushi - 1.32$ - Thanks Replay Uploader uwu
            li Megastore - 4.00$ - Thank brolex bruh
            li ArtX - 9.99$ - owo I love you owo
            li Rian8337 - 180000rp (12.64$) in Steam Wallet - I can have more game now owowo
            li quantumvortex - 14.00$ in Steam Items - Thanks map validator for even more game owo
            li Veno - 15.00$ - <3 <3 <3, no homo :3
            li Imagine Blaze - 7.77$ - much appreciated man owo