form.calculate-form {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

h4 {
    text-align: center;
    font: 18px Exo-Bold;
    text-decoration: none;
}

.left {
    clear: left;
    width: 50%;
    float: left;
    margin-bottom: 20px;
}

.right {
    margin-left: calc(50% + 10px);
}

form.calculate-form label {
    font: 13px Exo-Medium;
}

form.calculate-form label p {
    font: 16px Exo-Bold;
    margin-top: 0;
}

form.calculate-form input {
    text-align: center;
}

form.calculate-form .parameter {
    background-color: #333;
    font: 12px Exo-Medium;
    color: white;
    border: none;
    border-bottom: 3px solid rgb(252, 161, 176);
    border-radius: 6px;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

form.calculate-form .submit {
    font: 15px Exo-Medium;
    padding: 10px;
    color: white;
    background-color: #222;
}

figure {
    text-align: center;
    font: 15px Exo-Bold;
}

figure img {
    max-height: 100%;
    max-width: 100%;
}