ul {
    position: relative;
    right: 27.5px;
}

li {
    width: 100%;
    font: 14px Exo-Bold;
    padding: 8px 8px;
    margin-top: 4px;
    list-style-type: none;
    border: 1px solid pink;
    border-bottom: 5px solid pink;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

li p.play-info {
    font: 12px Exo-Medium;
}

li p.pp {
    position: relative;
    float: right;
    bottom: 32.5px;
    max-width: calc(100% - 10px);
    font: 15px Exo-Bold;
}

li p.prototype-pp {
    position: relative;
    float: right;
    bottom: 50px;
    max-width: calc(100% - 10px);
    font: 15px Exo-Bold;
}

li p.diff {
    clear: both;
    position: relative;
    float: right;
    bottom: 75px;
    max-width: calc(100% - 10px);
    font: 11px Exo-Medium;
}

li .mod-list {
    text-align: left;
    position: relative;
    max-width: 50%;
    overflow: auto;
}

li .mod-list img {
    width: 33px;
    height: 21px;
}