.listing {
    font: 12px Exo-Medium;
    width: 100%;
}

.listing, th, td {
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
    border-collapse: collapse;
    background-color: rgba(34, 34, 34, 0.75);
    text-align: center;
    overflow: auto;
    padding: 5px;
}

.listing th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(34, 34, 34);
}

.listing td.assign-left {
    text-align: left;
    padding-left: 10px;
}

.listing td a {
    display: block;
}

.listing tr:nth-child(even) {
    background-color: rgba(68, 68, 68, 0.75);
}

.listing tr:hover {
    background-color: lightgray;
}